.errors {
  color: red;
  margin-bottom: 10px;
}

.code{
  font-family: monospace;
  color: grey;
}


textarea:focus, input:focus{
  background-color: #F4F4F4;
}

.topic-box{
  background-color: #26A698;
  border-radius: 3px;
  margin: 0 5px;
  padding: 10px;
  color: white;
}

.topic-box:hover{
  background-color: #45BAAE;
}

.dashboard-btn {
    width: 33.3333333333%;
    margin-top:10px;
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
}
