.errors {
  color: #f44336;
  margin-bottom: 10px;
}

.code{
  font-family: monospace;
  color: grey;
}


textarea:focus, input:focus{
  background-color: #F4F4F4;
}

.topic-list{
  margin: 0 5px;
}

.topic-box{
  border: 1px solid #005cb2;
  border-radius: 3px;
  margin: 0 5px;
  padding: 10px;
  color: #005cb2;
  font-weight: bold;
}

.topic-box:hover{
  border-color: #1e88e5;
  color: #1e88e5;
  font-weight: bolder;
}

.dashboard-btn {
  margin-right: 15px;
}

.code{
  display: block;
  padding-left: 10px;
  white-space: pre-wrap;
  border-left: 8px solid #1e88e5;
}


.collection-icon{
  vertical-align: middle;
  line-height: inherit;
  padding-right: 10px;
}

.answer-choice{
  background-color: #fff;
  line-height: 1.5rem;
  padding: 0px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  color: #005cb2;
}

.answer-selected{
  border: 2px solid #005cb2;
}

.answer-choice:hover{
  font-weight: bolder;
  cursor: pointer;
}

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: #005cb2;
}

.btn-special{
  transition: background-color 0.4s ease;
  background-color: #005cb2;
}

.btn-special:hover{
  background-color: #1e88e5;
}

.btn-danger{
  float: right;
  transition: background-color 0.4s ease;
  background-color: #f44336;
}

.btn-red{
  transition: background-color 0.4s ease;
  background-color: #f44336;
  margin-left: 10px;
}

.btn-red:hover{
  background-color: #e57373;
}


.btn-danger:hover{
  background-color: #e57373;
}

.btn-pressed{
  filter: brightness(60%);
}

.collapsible-body{
  padding: 0 20px 20px 20px;
}

.answer{
  line-height: 1.5rem;
  padding: 0px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.answer * {
  display: inline-block;
}

.quiz-topic * {
  width: 175px;
}

.strict-button{
  color: #f44336;
  margin-top: 7px;;
}

.strict-button:hover+.strict-info{
  display: block;
}

.style-input:hover+.style-info{
  display: block;
}

.style-input{
  padding-top: 10px;
}

.strict-info{
  display: none;
  color: #f44336;
  font-style: italic;
}

.warning{
  color: #f44336;
  font-style: italic;
  margin-top: 10px;
  display: inline-block;
}
.warning i {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 10px;
}

.warning div {
  width: 700px;
  display: inline-block;
  padding-top: 10px;
  vertical-align: bottom;
}

.style-info {
  display: none;
  color: #26A69A;
  font-style: italic;
}

#quiz-info-bar{
  background-color: #1e88e5;
  border-radius: 3px;
  color: white;
}

.quiz-header div{
  display: inline;
  margin-right: 50px;
}

.collection-item label div p{
  margin: 0;
}

.correctAnswer label{
  border-bottom: 2px solid #26A69A;
}

.incorrectAnswer label{
  border-bottom: 2px dashed #f44336;
}

.resultCat{
  font-weight: bold;
}

.sub-collapse .collapsible-header{
  background-color: #1e88e5;
  color: white;
}

.chart-holder{
  width: 60%;
  height: 400px;
}

.comment-submit-box div{
  display: inline-block;
}

.last-update{
  font-style:italic;
  float: right;
}

.comment-holder{
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.comment{
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 5px 5px 20px;
  white-space: pre-line;
}

.comment i {
  color: #f44336;
  float: right;
  cursor: hand;
}
